# =====================
# PRIVATE FILES
# =====================
Data/Car details v3.csv
Data/processed.csv
Notebooks/Exploration.ipynb

# =====================
# Python cache
# =====================
__pycache__/
*.pyc

# =====================
# OS
# =====================
.DS_Store
Thumbs.db


