# =====================
# PRIVATE FILES
# =====================
main.py
# =====================
# Python cache
# =====================
__pycache__/
*.pyc

# =====================
# OS
# =====================
.DS_Store
Thumbs.db


